<div class="topbar">
    <a href="/" class="logo-mini">
            <div class="logo-shapes">
                <div class="circle-navy"></div>
                <div class="circle-maroon"></div>
            </div>
            <div class="logo-text">HCI Insights</div>
        </a>

    <div class="nav-links">
        <a href="/login">Logout</a>
    </div>
</div>